{% extends 'base.html' %}

{% block title %}Lista de Recetas - Microondas Inteligente{% endblock %}

{% block content %}
        <h1>Personalizar "{{ receta.nombre }}"</h1>
        <form action="/guardar_personalizacion/{{ receta.id }}" method="POST">
            <div class="form-group">
                <label for="tiempo">Nuevo timepo de cocción (en {{ receta.unidad_tiempo }}):</label>
                <input type "number" class="form-control" id="tiempo" name="tiempo" value="{{ receta.tiempo }}">
            </div>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <a href="/" class="btn btn-secondary ml-2">Volver a la lista de recetas</a>
        </form>
    </body>
{% endblock %}
