<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Personalizar Receta</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Personalizar "{{ receta.nombre }}"</h1>
        <form action="/guardar_personalizacion/{{ receta.id }}" method="POST">
            <div>
                <label for="tiempo">Nuevo timepo de cocción (en {{ receta.unidad_tiempo }}):</label>
                <input type "number" id="tiempo" name="tiempo" value="{{ receta.tiempo }}">
            </div>
            <button type="submit">Guardar Cambios</button>
            <a href="/">Volver a la lista de recetas</a>
        </form>
        <script src="" async defer></script>
    </body>
</html>